
.txt-logo{
    color:#B00C0C;
    font-weight: bolder;
    font-size: 15px;
}


.navbar-expand-sm .navbar-nav .nav-link{
    color: #B00C0C;
}

.logout{
    color: yellow;
}

.navbar-expand-sm .navbar-nav .nav-link:hover{
    text-decoration: underline;
    color: #B00C0C;
}


.background-page{
    background-color:#f8f9fa;
    padding: 30px;
    /* border:1px solid #B00C0C; */
}

.btn-form-donor{
    background-color: #E9E9EA;
    color: #111;
    font-weight: bold;
    /* border:1px solid #B00C0C; */
}

.title-form-donors{
    font-size: 20px;
    color:#B00C0C;
}

.header-table{
    background-color:#B00C0C;
    color: #fff;
}

.btn-new-donor{
    background-color:#B00C0C;
    color: #fff;
}

.btn-new-donor a{
    background-color:#B00C0C;
    color: #fff;
    text-decoration: none;
}  

.hero-text h1{
    color:#B00C0C;
    
}

.hero-text p{
    color:#111;
    font-weight: bold;
}

.texts-features h5 a{ 
    color:#B00C0C;
    text-decoration: none;

}
.btn-link{
    background-color: #B00C0C;
    color: #E9E9EA;
    text-decoration: none;
}

.btn-link:hover{
    background-color: #E9E9EA;
    color:   #B00C0C;
    text-decoration: none;
}