
#background-form{
    background-color:#C0C0C0;
    padding: 30px;
    border:1px solid #942828;
}

.btn-form-donor{
    background-color: #E9E9EA;
    color: #111;
    font-weight: bold;
    border:1px solid #942828;
}

.title-form-donors{
    font-size: 20px;
    color:#942828;
}